{% extends 'header.html' %}
{% load static %}
{% block header %}

    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Important information for users</h2>
                <p class="text-center">Important information</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="far fa-user icon"></i>
                        <h3 class="name">Privacy Policy</h3>
                        <p class="description">Read and understand how deal with your privacy on this platform.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-cookie icon"></i>
                        <h3 class="name">Cookie Policy</h3>
                        <p class="description">Read and understand how we handle your cookies.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Terms Of Service</h3>
                        <p class="description">Read and understand our terms of service before proceeding to the next step.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-money-bill icon"></i>
                        <h3 class="name">Refund Policy</h3>
                        <p class="description">This consists of how we deal with the refunds and the conditions appliied to refund.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-hands-helping icon"></i>
                        <h3 class="name">Help Center</h3>
                        <p class="description">Learn more on how to use this platform.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Contact us</h3>
                        <p class="description">If you have any questions then this is your right place</p><a class="learn-more" href="#">Contact us</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock header %}