{% load static %}
<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Menu</h3>
                        <ul>
                            <li><a  href="#skills">Skills</a></li>
                            <li><a  href="#projects">Projects</a></li>
                            <li><a  href="#pricing">Pricing</a></li>
                            <li><a href="/forms/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            
                            <li><a href="/importants/read/privacy_policy/">Privacy Policy</a></li>
                            <li><a href="/importants/read/tos/">Terms and conditions</a></li>
                            
                            
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Witlevels</h3>
                        <p>We are a team of high skilled and talented I.T experts, programmers and developers. We use our skills and talent to modenize the world.</p>
                    </div>
                    <div class="col item social"><a href="https://fb.me/comfortchambeshi"><i class="icon ion-social-facebook"></i></a><a href="https://twitter/comfortbatcall"><i class="icon ion-social-twitter"></i></a></div>
                </div>
                <p class="copyright">Offical Witlevels © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'batcall/js/jquery.min.js' %}"></script>
    <script src="{% static 'batcall/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'batcall/js/bs-init.js'%}"></script>
</body>

</html>